*{margin: 0;
    padding: 0;
    }
    
    ul{
        display: flex;
        list-style-type: none;
    }
    h2{
        font-family: serif;
        font-weight: 120;
    }
    a{
        text-decoration: none;
        color: white;
        font-family: serif;
    }
    hr{
        width: 84%;
        margin: auto;
    }
    
    
    main{
        background-color: #C4C4C4;
    }
    
    .form{
        width: 54%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 260px;
        margin: auto;
    }
    
    .control{
        width: 84%;
        margin: auto;
    }
    
    .field{
        padding: 10px;
    }
    
    .form-btn{
        width: 98%;
        background-color: white;
        display: flex;
        justify-content: flex-end;
    }
    
    .btnSend{
        background-color: #4FB4D6;
        color: white;
        width: 80px;
        height: 32px;
        border: none;
    }
    
    button:disabled,
    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
    
    .division{
    height: 20px;
    background-color: #C4C4C4;
    }
    
    .input1{
        width: 99%;
        height: 30px;
        border: none;
        background-color: #C4C4C4;
    }
    
    .input2{
        width: 99%;
        height: 80px;
        border: none;
        background-color: #C4C4C4;
    }
    
    .Publication{
        padding: 16px;
    }
    
    .itemmap{
        width: 54%;
        margin: auto;
        background-color: white;
    }
    
    .title{
        background-color: rgb(19, 18, 18);
        width: 84%;
        color: rgb(214, 202, 202);
        margin: auto;
        display: flex;
    }
    
    .title-content{
        width: 70%;
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 30px;
    }

    .title-content h2{
        font-family: 120;
    }
    
    .title-btn{
        width: 30%;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .img-array{
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .imgsbtns{
        width: 24px;
        height: 24px;
        margin: auto;
    }
    
    .click-img{
        background-color: rgb(19, 18, 18);
        border: none;
    }
    
    .Space{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .content{
            width: 84%;
            color: rgb(37, 37, 37);
            margin: auto;
            background-color: #C4C4C4;
    }
    
    